.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.trandeGit p{
  margin: 0;
}

.trandeGit a {
  color: white;
}

.trandeGit span {
  text-decoration: underline;
}

.trandeGit{
  background-color: #666666;
  padding: 20px;
  margin-top: 20px;
  width: 50%;
}